<!DOCTYPE html>{% load static i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}{{ meta.title }}{% endblock title %}</title>
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#f2f2f2">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#f2f2f2">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!--Favicons-->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <!-- CSS -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block css %}{% endblock %}

  {# {% render_block "css" %} #}
  {% block inline_css %}{% endblock %}
</head>

<body>
  <span class="root">
    <nav class="main_nav">
      <div class="main_nav">
        <div class="main_nav_content">
          <a href="{% url 'news_feed' %}">Instaclone</a>
        </div>
      </div>
    </nav>
    <main>
      {% block content %}{% endblock content %}
      {% block feed %}{% endblock feed %}
    </main>
    <footer class="main_footer">

    </footer>
  </span>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="{% static 'js/main.js' %}" integrity=""></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% block js %}{% endblock js %}
</body>
</html>
